# dependencies
node_modules

# debug
.pnpm-debug.log*

# typescript
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

**/*.db
**/*.db-journal
